
body {
  background-color: #141414;
  margin:10px;
  padding: 10px;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgb(10, 10, 10);


}

h1 {
  text-align: center;
  color: #07eafa;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.add-task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-task input {
  width: 80%;
  padding: 10px;
  border: 1px solid #f0eded;
  border-radius: 4px;
  font-size: 1rem;
}

.add-task button {
  padding: 10px 20px;
  background-color: #05f5e1;
  color: rgb(15, 15, 15);
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}



ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
  padding: 10px;
  background-color: #0bfae6;
  border-radius: 4px;
  
}



li input[type="checkbox"] {
  margin-right: 10px;
}



li button {
  background-color: #4d5fff;
  color: rgb(14, 13, 13);
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}



li.completed span {
  text-decoration: line-through;
  color: #f30b0b;
}

